
<footer>
  <div class="container clearfix">
    <ul class="list-social pull-right">
      <li><a class="icon-1" href="https://www.facebook.com/muhammed.anwar.5688"></a></li>
      <li><a class="icon-6" href="https://ca.linkedin.com/in/muhammed-anwar"></a></li>
      <!-- <li><a class="icon-3" href="#"></a></li>
      <li><a class="icon-4" href="#"></a></li> -->
    </ul>
    <div class="privacy pull-left">&copy; 2017 | <a href="/">Muhammed Anwar</a> | Personal Portfolio and Website </div>

    
  </div>
  <div class="container clearfix">
  	<p class="siteinfo">{{#if devBuild}}Development{{else}}Production{{/if}} build, version {{ version }}, {{ template }} template</p>
  </div>
</footer>