<meta charset="utf-8">
<title>{{#if title}}{{ title }} - {{/if}}{{ name }}</title>
{{#if description}}<meta name="description" content="{{ description }}" />{{/if}}

<meta name="HandheldFriendly" content="true">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width,shrink-to-fit=no,user-scalable=no,initial-scale=1,minimum-scale=1,minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="mobile-web-app-capable" content="yes">

<link rel="stylesheet" href="{{ root }}css/bootstrap.css" type="text/css" media="screen">
<link rel="stylesheet" href="{{ root }}css/responsive.css" type="text/css" media="screen">
<link rel="stylesheet" href="{{ root }}css/style.css" type="text/css" media="screen">
<link rel="stylesheet" href="{{ root }}css/touchTouch.css" type="text/css" media="screen">
<link rel="stylesheet" href="{{ root }}css/kwicks-slider.css" type="text/css" media="screen">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
<link  href="{{ root }}css/viewer.min.css" rel="stylesheet">



<script src="{{ root }}js/jquery.js"></script>
<script src="{{ root }}js/superfish.js"></script>
<script src="{{ root }}js/jquery.flexslider-min.js"></script>
<script src="{{ root }}js/jquery.kwicks-1.5.1.js"></script>
<script src="{{ root }}js/jquery.easing.1.3.js"></script>
<script src="{{ root }}js/jquery.cookie.js"></script>
<script src="{{ root }}js/touchTouch.jquery.js"></script>
<script src="{{ root }}js/bootstrap.js"></script>
<script src="{{ root }}js/viewer.min.js"></script>

<!-- <link rel="stylesheet" media="all" href="{{ root }}css/styles.css" /> -->
